{% load crispy_forms_tags %}
<div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Make Request
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{form1|crispy}}
            {{form|crispy}}
            <input class="btn btn-info btn-block" type="submit" value="Make Request">
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Orders Records
        </div>
        <div class="card-body">
          <table class="table table-striped bg-white">
            <thead class="bg-info text-white">
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{order.customer.name|capfirst}}</td>
                <td>{{order.product.name|capfirst}}</td>
                <td>{{order.product.category|capfirst}}</td>
                <td>{{order.date}}</td>
                <td>{{order.order_quantity}}</td>
                <td>{{order.price}}</td>
                <td>{{order.total}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
